DISCORD_WEBHOOK_URL="URL"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

# Provider toggles (uncomment to override providers.json config)
# ENABLE_DATALIX_RYZEN_GEN2=false
# ENABLE_DATALIX_RYZEN_GEN4=true
# ENABLE_HOSTBRR_9950X_VDS_DE_1GBPS=true
# ENABLE_HOSTBRR_9950X_VDS_DE_10GBPS=true
# ENABLE_BUYVM_SLICES_LUXEMBOURG=true
# ENABLE_OVH_VPS_GERMANY=false
# ENABLE_ALPHAVPS_RYZEN_GERMANY=true